/* ...................root........................................................... */

:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --maine-btn-color: #f5f4fa;
  --second-btn-color: #212121;
  --background-page-color: #2f303a;
  --background-team-color: #f5f4fa;
  --background-work-color: #e5e5e5;
  --border-card-color: #eeeeee;
  --client-first-color: #afb1b8;
  --client-second-color: #2196f3;
}

/* ................reset........................................................... */

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--second-title-color);
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
} */

/* .....................section........................................................... */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ............current header page one........................................................... */

.header-item .header-link.current {
  color: var(--accent-color);
}

.buttons .button.current {
  color: var(--main-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-contacts .link-contact.current {
  color: var(--accent-color);
}

/* ..................logo........................................................... */

.link-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.half-logo {
  color: #000;
}

.half-logo-footer {
  color: #fff;
}

/* .................container........................................................... */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* .................heder........................................................... */

/*............... page-header......................................................... */

.page-header {
  border-bottom: 1px solid var(--border-card-color);
}

.header-box {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-items {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.active::after {
  position: absolute;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  background-color: transparent;

  border-radius: 2px;
}

.header-link.current.active::after {
  background-color: var(--accent-color);
}

.header-link:hover.active::after,
.header-link:focus.active::after {
  background-color: var(--accent-color);
}

.list-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}

.link-contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ...................page one hero........................................................... */

.hero-section {
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-page-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;
}

.section-team {
  background-color: var(--background-team-color);
}

.hero-title {
  margin-bottom: 40px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.button.maine-btn {
  display: block;
  padding: 10px 32px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* .....................section........................................................... */

.section-work {
  padding-top: 0;
}

/* ........................maine-item................................................ */

.maine-box {
  display: flex;
}

.maine-items {
  display: flex;
}

.maine-item:not(:last-child) {
  margin-right: 30px;
}

.features-thumb {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-icon {
  margin: 25px 100px;
  /* width: 70px;
    height: 70px; */
}

/* .....................maine-subtitle........................................................... */

.maine-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
}

/* .....................maine-text........................................................... */

.maine-text {
  margin-top: 10px;
  width: 270px;
  height: 75px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}

/* ......................heding........................................................... */

.heding {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-title-color);
}

/* .......................works-list....................................... */

.works-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.work-text {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.work-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  height: 70px;
  background-color: teal;
}

/* .......................work-list.......................................... */

.work-list:not(:nth-child(3n)) {
  margin-right: 30px;
}
/* ......................list-position........................................................... */

.list-position {
  display: flex;
}

/* ......................title-name........................................................... */

.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-title-color);
  text-align: center;
}

/* ......................position........................................................... */

.list-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

/* ..................обвёртка сотрудников....................... */

.card-wrapp {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.position {
  padding-top: 10px;

  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color);
  text-align: center;
}

.position-thumb {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: 206px;
  height: 44px;
}

.icons-position {
  display: flex;
  color: var(--client-first-color);
}

.icon-position:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  fill: var(--client-first-color);
  border-radius: 50%;
  background-color: var(--third-text-color);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: var(--third-text-color);
  background-color: var(--client-second-color);
}

/* ...................maine page-two........................................................... */

.two-page {
  background-color: var(--third-text-color);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.buttons .item:not(:last-child) {
  margin-right: 8px;
}

.button.button-nav {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--second-btn-color);
  background-color: var(--maine-btn-color);
  border-radius: 4px;
  border-style: none;
}

/* .button {cursor: pointer;} */

.button-nav:hover,
.button-nav:focus {
  color: var(--main-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.gallery-list .gallery-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  flex-basis: calc(100% / 3-30px);
  margin-top: 30px;
  margin-left: 30px;
}

.gallery-item:hover,
.gallery-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-thumb::before {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  width: 100%;
  height: 100%;

  content: "";
}

.link-btn:hover .card-thumb::before,
.link-btn:focus .card-thumb::before {
  transform: translateY(0);
  opacity: 1;
  background-color: rgba(33, 150, 243, 0.9);
}

.gallery-text {
  position: absolute;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  top: 63px;
  bottom: 63px;
  opacity: 0;
  display: flex;
  justify-content: baseline;
  padding-left: 24px;
  padding-right: 24px;

  height: 100%;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}

.link-btn:hover .gallery-text,
.link-btn:focus .gallery-text {
  opacity: 1;
  transform: translateY(0);
}

.card-content {
  padding: 20px 24px 20px 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.gallery-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-btn-color);
}

.dropdown {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.client-list {
  display: flex;
}

.client-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

.client-item:hover,
.client-item:focus {
  color: var(--client-second-color);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-logo {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
  color: var(--client-first-color);
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  background-color: var(--third-text-color);
}

.clients-icon {
  fill: currentColor;
}

.client-logo:hover,
.client-logo:focus {
  color: var(--client-second-color);
}

/* .....................footer........................................................... */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-page-color);
}

.footer-logo {
  display: block;
  padding: 0;
  margin: 0 0 20px 0;
}

.wrap-footer {
  display: flex;
  align-items: baseline;
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.link-point {
  /* transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1); */

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
}

.footer-contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-text-color);
}

.footer-social-thumb {
  margin-left: 70px;
}

.social-accession {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
}
.social-footer {
  display: flex;
  margin-top: 20px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--third-text-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--accent-color);
}

.social-footer-icon {
  fill: currentColor;
}

.footer-form-group {
  margin-left: 93px;
  display: flex;
  justify-content: baseline;
}

.footer-form-title {
  margin-left: 93px;
  margin-bottom: 20px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form-input {
  padding: 15px 108px 15px 16px;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input:focus {
  border-color: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-button-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.icon-send {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  transition: opacity 700ms, visibility 700ms;
  top: 0;
  width: 100vw;
  height: 100vh;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: scale(2) rotateZ(180deg) translateY(-500px);
  transition: transform 1000ms;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  transform: scale(1) rotateZ(1);
  transition: transform 700ms;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-title {
  margin-bottom: 12px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-form {
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 10px;

  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.form-group-textarea {
  margin-bottom: 20px;
}

.input-wrapp {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input {
  width: 448px;
  height: 40px;
  padding-left: 44px;
  padding-right: 44px;
  color: var(--second-btn-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.checkbox-modal {
  margin-bottom: 30px;
}

.form-label-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.check-icon {
  fill: #ffffff;
}

.check-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 2px;
  margin: 8.38px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-conditions:checked + .form-label-checkbox .check-item {
  background-color: #2196f3;
  border: none;
}

.conditions-form {
  margin-left: 4px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
}

.comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.comment::placeholder {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.button-form {
  display: block;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: white;
  background-color: var(--accent-color);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover,
.button-form:focus {
  background-color: #188ce8;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close.modal-close-icon {
  display: block;
  margin: 0;
}
.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
}
